node_modules
.next
out
.vercel
.env
.env.*
!.env.example
*.log
*.tsbuildinfo
.DS_Store

# Supabase CLI local state
supabase/.temp

# Generated archives
*.zip

#secrect photo
*csSoEDhr56tBwmPujrBJ6AElWiibDS2oZgoUMz_Jc-0